
RomanNumerals/RomanNumerals/obj/Debug/RomanNumerals.pdb
RomanNumerals/RomanNumerals/obj/Debug/RomanNumerals.dll
RomanNumerals/RomanNumerals/obj/Debug/RomanNumerals.csproj.FileListAbsolute.txt
RomanNumerals/RomanNumerals/obj/Debug/RomanNumerals.csprojAssemblyReference.cache
RomanNumerals/RomanNumerals/obj/Debug/RomanNumerals.csproj.CoreCompileInputs.cache
RomanNumerals/RomanNumerals/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RomanNumerals/.vs/RomanNumerals/v16/.suo
RomanNumerals/.vs/RomanNumerals/v16/TestStore/0/001.testlog
RomanNumerals/.vs/RomanNumerals/v16/TestStore/0/testlog.manifest
RomanNumerals/RomanNumerals.UnitTest/obj/RomanNumerals.UnitTest.csproj.nuget.g.targets
RomanNumerals/RomanNumerals.UnitTest/obj/RomanNumerals.UnitTest.csproj.nuget.g.props
RomanNumerals/RomanNumerals.UnitTest/obj/project.nuget.cache
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.dll
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.csprojAssemblyReference.cache
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.genruntimeconfig.cache
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.pdb
RomanNumerals/RomanNumerals.UnitTest/obj/project.assets.json
RomanNumerals/RomanNumerals.UnitTest/obj/RomanNumerals.UnitTest.csproj.nuget.dgspec.json
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.csproj.FileListAbsolute.txt
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.csproj.CoreCompileInputs.cache
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.csproj.CopyComplete
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.assets.cache
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.AssemblyInfoInputs.cache
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/RomanNumerals.UnitTest.AssemblyInfo.cs
RomanNumerals/RomanNumerals.UnitTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RomanNumerals/RomanNumerals/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
RomanNumerals/.vs/RomanNumerals/v16/TestStore/0/013.testlog
RomanNumerals/.vs/RomanNumerals/v16/TestStore/0/006.testlog
RomanNumerals/.vs/RomanNumerals/v16/TestStore/0/015.testlog
